<header id="header">
    <div id="header-wrap">
        <nav class="secondary-nav border-bottom">
           
        </nav>
        <nav class="primary-nav padding-small">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2 col-md-2">
                        <div class="main-logo">
                            <a href="index.html">
                               <h3>Fashion Grid</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10">
                        <div class="navbar">

                            <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                <ul class="menu-list">
                                    <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>

                                    <li><a class="nav-link" asp-controller="Product" asp-action="Index">Products</a></li>

                                   
                                    <li><a href="contact.html" class="item-anchor" data-effect="Contact">Contact</a></li>
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <li><a class="nav-link" asp-controller="Login" asp-action="Login">Login</a></li>
                                        <li><a class="nav-link" asp-controller="Register" asp-action="Register">Register</a></li>
                                       
                                    }
                                    else
                                    {
                                        <li><a class="nav-link" href="#">Hi @User.Identity.Name</a></li>
                                        if (User.IsInRole("DEALER"))
                                        {
                                            <li><a class="nav-link" asp-controller="DealerPanel" asp-action="Index">My Shop</a></li>
                                        }
                                        <li><a class="nav-link" asp-controller="Cart" asp-action="Index">Cart</a></li>
                                        <li><a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a></li>
                                       
                                    }
                                   
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>